{
    "presets": [
        "env",
        "stage-2",
        "react",
        "flow",
    ],
    "plugins": [
        "lodash",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true,
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": ["flow-react-proptypes"],
        },
    },
}
