{
    "presets": [
        "env",
        "stage-2",
        "react",
        "flow",
    ],
    "plugins": [
        "lodash",
    ],
    "env": {
        "development": {
            "plugins": ["flow-react-proptypes"],
        },
    },
}
