{
    "presets": [
        "es2015",
        "stage-2",
        "react"
    ],
    "plugins": [
        "lodash",
        "transform-flow-strip-types",
    ],
    "env": {
        "development": {
            "plugins": ["flow-react-proptypes"],
        },
    },
}
